.git
.gitignore
.vscode
node_modules/
vendor/
var/cache/
var/log/
python_ai/.venv/
python_ai/dataset/
python_ai/fer2013/
docker-compose*
compose.override.yaml
backup.sql
mail_debug.log
test_mail.php
reverse-engineer.php
*.log
*.sqlite
